.activities{
  background:#0b2a55;
  color:white;
  padding:80px 10%;
  text-align:center;
}

/* Square card */
.activity-card{
  background:white;
  color:black;
  margin:30px auto;
  border-radius:10px;
  overflow:hidden;

  width:600px;      /* 4:4 square */
  height:400px;

  display:flex;
  flex-direction:column;
}

/* Image */
.activity-card img{
  width:100%;
  height:200px;
  object-fit:cover;
}

/* Text section */
.activity-text{
  padding:20px;
  text-align:center;
  flex:1;
}

.activity-text h3{
  margin-bottom:10px;
}

.activity-text p{
  font-size:15px;
  line-height:1.5;
}