.hero{
display:flex;
align-items:center;
justify-content:space-between;
padding:80px 10%;
}

.hero-text{
width:50%;
}

.hero-img img{
width:400px;
border-radius:10px;
}

.btn1{
background:#2c6bed;
color:white;
border:none;
padding:10px 20px;
margin-right:10px;
}

.btn2{
border:1px solid gray;
padding:10px 20px;
background:white;
}